/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and font settings */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #fff;
    line-height: 1.6;
}

/* Navbar Styles */
/* Sticky Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
    transition: top 0.3s;
  }
  
  /* For smooth transition when the navbar hides */
  .hide-navbar {
    top: -60px; /* Adjust based on navbar height */
  }

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #1db954;
}

/* Header Section */
header {
    text-align: center;
    padding-top: 80px; /* To account for fixed navbar */
}

header .container {
    margin-top: 50px;
    padding-bottom: 40px;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
}

#avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

/* General Fade-in effect for any element */
.fade-in {
    opacity: 0;
    transform: scale(0.9); /* Slightly smaller to make the transition smoother */
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.fade-in-active {
    opacity: 1;
    transform: scale(1); /* Original size when active */
}

/* Hero Section */
#hero {
    padding: 100px 20px;
    background-color: #1a1a1a;
    text-align: center;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.bio {
    font-size: 1.1rem;
    color: #dcdcdc;
    margin-top: 20px;
}

.bio h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

/* Blog and Contact Sections */
section {
    padding: 60px 20px;
    background-color: #222;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
}

p {
    font-size: 1.1rem;
    color: #ccc;
    margin-bottom: 15px;
}

a {
    color: #1db954;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer Section */
footer {
    background-color: #111;
    padding: 20px;
    text-align: center;
}

footer p {
    color: #aaa;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Add a container for the hobbies chart */
section {
    padding: 60px 20px;
    background-color: #222;
    text-align: center;
}

/* Restrict chart size */
canvas {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 400px; /* Adjust this value as needed */
    margin: 0 auto;
    display: block;
}
